body {
  font-size: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #EEE;
}

.centered .logo {
  flex-direction: column;
  width: 50em;
}
.centered .logo-text {
  text-align: center;
}
.centered .logo-image {
  margin: auto;
}

.logo {
  display: flex;
  margin: 5em;
}

.logo-text {
  flex: 1;
  padding: 1em 3em;
}

.logo-image {
  display: flex;
  background-color: #000;
  border-radius: 50%;
  /*display: block;*/
  width: 15em;
  height: 15em;
}
.logo-image-inner {
  margin: auto;
  display: flex;
  border: .5em solid #FFF;
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
i {
  margin: auto;
  display: flex;
  color: #FFF;
  font-size: 4em !important;
}
h1 {
  margin: 0;
  font-size: 4.4em;
  line-height: 1.5em;
}
h2 {
  margin: 0;
  color: #888;
  font-weight: normal;
  font-size: 3em;
  line-height: 1.5em;
}
.logo-image-inner.red { background-color: #DB2828; }
.logo-image-inner.orange { background-color: #F2711C; }
.logo-image-inner.yellow { background-color: #FBBD08; }
.logo-image-inner.olive { background-color: #B5CC18; }
.logo-image-inner.green { background-color: #21BA45; }
.logo-image-inner.teal { background-color: #00B5AD; }
.logo-image-inner.blue { background-color: #2185D0; }
.logo-image-inner.violet { background-color: #6435C9; }
.logo-image-inner.purple { background-color: #A333C8; }
.logo-image-inner.pink { background-color: #E03997; }
.logo-image-inner.brown { background-color: #A5673F; }
.logo-image-inner.black { background-color: #000000; }
.logo-image-inner.grey { background-color: #767676; }
.logo-image-inner.white { background-color: #FFFFFF; }
.logo-image-inner.lightgrey { background-color: #DDD; }
.logo-image-inner.mediumgrey { background-color: #AAA; }
.logo-image-inner.darkgrey { background-color: #444444; }
